@model IEnumerable<Черга.Models.Group>
@{
    ViewData["Title"] = "Index";
}

<h1>Мої групи</h1>

<p>
    <a asp-action="Create">Створити нову</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Назва групи@* @Html.DisplayNameFor(model => model.Name) *@
            </th>
            <th>
               Створив@*  @Html.DisplayNameFor(model => model.Creator) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.Email)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> | *@
                <a asp-action="Details" asp-route-id="@item.Id">Детальніше</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
