@model IEnumerable<Черга.Models.Queue>

@{
    ViewData["Title"] = "Index";
}

<h1>Мої черги</h1>

<p>
    @* @if (User.Identity.Name == ViewBag.CreatorId)
    {
        <a asp-action="Create" >Create Queue</a>
    } *@
    
    <a asp-action="Create">Створити нову</a>
</p>
<table class="table">
    <thead>
        <tr>@*columns*@
            <th>
                Назва
            </th>
            <th>
                Час початку пари
            </th>
            <th>
                Тип визначення порядку
            </th>
            <th>
                Група
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(i=>i.EnabledDate)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnabledDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><b>Переглянути</b></a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
                @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
